<a class="navbar-brand d-inline-block py-lg-2 mb-lg-5 px-lg-6 me-0 text-center" href="<%= root_path %>" >
<!--  <img alt="logo" src="/clever-primary.svg">-->
<!--  <img alt="logo" src="/logo-erica.png", style="max-height:40px">-->
  <span style="font-size: 22px" class="font-bold text-primary">QuizApp</span>
<!--  <hr class="m-1 d-none d-sm-block">-->
</a>